auto_mix_prep==0.2.0
beautifulsoup4==4.12.3
datasets==2.20.0
fire==0.7.0
llama_index==0.11.16
numpy==2.1.2
openai==1.51.0
pandas==2.2.3
peft==0.12.0
Requests==2.32.3
scikit_learn==1.5.2
seqeval==1.2.2
torch==2.4.0+cu124
torch==2.4.0
tqdm==4.66.4
transformers==4.43.3
trl==0.9.6
vllm==0.6.2
